.placeBid {
    width: 30%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: "100 px";
    height: "calc(99vh - 100px)";
    border: 10pt;
    flex-direction: column;
    flex-wrap: wrap;
    /* padding-left: 150px;
    padding-right: 150px; */
    font-size: larger;
}

.placeBidForm {
    padding-top: 5px;
    padding-bottom: 5px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    display: inline-block;
}

.placeBidButton {
    padding-top: 5px;
    padding-bottom: 5px;
}


